:root {
    --introduction-color: black;
    --aboutme-btn-background: #f58105;
    --contactme-btn-background: #f58105;
    --linkbtn-color: lightseagreen;
  }
  
  body {
    margin: 60px;
  }
  .introduction {
    color: var(--introduction-color);
    text-align: center;
    margin: 30px auto;
    line-height: 40px;
    font-size: 30px;
  }
  
  .header {
    display: block;
    margin: 30px auto;
    width: 800px;
  }
  
  .aboutmebtn,
  .contactmebtn {
    background: var(--aboutme-btn-background);
    font-weight: bold;
    border: 2px solid white;
    border-radius: 12px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
  }
  
  .contact-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
  }
  
  .contents {
    display: flex;
    justify-content: center;
  }
  
  .content {
    padding: 20px;
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    border: 2px solid lightseagreen;
  }
  
  .contents div {
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .link {
    text-align: center;
  }
  
  .contact-btn {
    padding: 40px;
    font-size: 30px;
    text-align: center;
  }